body {
    background: linear-gradient(135deg, #e8f1ec, #7bc49f, #4bb397);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 390px;
    border-radius: 5px;
    background: linear-gradient(135deg, #084132, #3ff01b, #a0b6a0);
}

form {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    // background-color: #f2f2f2;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

.title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 240px;
    border-radius: 5px;
    background: linear-gradient(135deg, #084132, #3ff01b, #a0b6a0);
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 25px;
    justify-content: space-between;
}