hr {
	border-top: 2px solid rgb(66 69 183);
}

// .container-fluid {
//     position: relative;
//     text-align: center;
//     color: white;
// }

// .carousel-inner img {
//     width: 100%;
//     height: 100%;
//   }

/* Top left text */
.top-right {
    position: absolute;
    top: 185px;
    left: 100px;
    // text-align: center;
}

// .vl {
//     border-left: 3px solid orange;
//     height: 250px;
//     margin-top: -230px;
//     margin-left: -25px;
// }

/* Top right text */
// .top-right {
//     position: absolute;
//     top: 100px;
//     right: 200px;
//     color: white;
//     color: #ffa500;
// }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 20px 28px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
// .container {
//     padding: 2px 16px;
// }

.footers a {
    color: #696969;
}

.footers p {
    color: #696969;
}

.footers ul {
    line-height: 30px;
}

#social-fb:hover {
    color: #3B5998;
    transition: all .001s;
}

#social-tw:hover {
    color: #4099FF;
    transition: all .001s;
}

#social-gp:hover {
    color: #d34836;
    transition: all .001s;
}

#social-em:hover {
    color: #f39c12;
    transition: all .001s;
}

// .bt {
//     cursor: pointer;
// }

// .bt:hover {
//     // box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.2);
//     box-shadow: 5px 8px 5px 5px rgba(0, 0, 0, 0.2);
//     transition: 0.5s;
// }