<div class="row" style="margin-top: 50px;">


  <div style="width: 100%;">
    <div class="container-fluid d-flexjustify-content-center"
      style="background-color: #f9d59b; padding: 40px 40px; text-align: center;">
      <h1 class="text-danger">Donate blood, donate smile!</h1>
      <h2>Blood donation is a most important social service to the humankind. As being a human, we must donate
        blood to save others life.</h2>
    </div>
  </div>


  <div style="width: 100%;">
    <div id="demo" class="carousel slide " data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <div class="carousel-inner crous1">
        <div class="carousel-item active crous">
          <img src="../assets/img/image1.jpeg" alt="Los Angeles">
        </div>
        <div class="carousel-item crous ">
          <img src="../assets/img/image2.jpg" alt="Chicago">
        </div>
        <div class="carousel-item crous">
          <img src="../assets/img/image3.jpg" alt="New York">
        </div>
        <div class="carousel-item crous">
          <img src="../assets/img/image4.jpg" alt="New York">
        </div>
      </div>

      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </div>


  <div class="container-fluid" style="padding: 20px 50px; text-align: left;">

    <div class="row mb-5" style="padding-top: 20px;">
      <div class="col-lg-6 col-sm-12" style="color: black; padding-top: 1px; text-align: center;">
        <img class="img-fluid" src="../assets/img/1280px-ArtAndFeminism_MoMA18_-_30_-_Editing_with_Megan_Wacha.jpg"
          style="width: 500px; height: 350px; padding-left: 30px;">
      </div>
      <div class="col-lg-6 col-sm-12" style="padding-top: 30px;">
        <h1 style="font-weight: 700;">
          Our Vision:</h1>
        <br>
        <p style="font-size: 1.125rem; ">Blood Buddies is for public donationcenter with
          blood donation members in the changing health care system. - Specialist blood donors and clinical
          supervision. - Increasing communication with our members. - High quality assessment, diagnosis and
          treatment. - Examine critically to ensure alignment. The extra care of a multi- disciplinary team.
        </p>
      </div>
    </div>
    <hr>


    <div class="row mb-5" style="padding-top: 30px;">
      <div class="col-lg-6 col-sm-12" style="color: black; padding-top: 60px;">
        <h1 style=" font-weight: 700;">User Openion:</h1>
        <br>
        <p style="font-size: 1.125rem;">Since the institution of blood banking, safety for both donors and blood
          recipients has been continually and significantly improved. Because a safe, reliable source of blood
          is critical to providing effective blood products to recipients, blood banks are dependent on the
          altruistic voluntary donations of citizens. As a result, blood banks place great emphasis on making
          the donation process pleasant, convenient, and as safe as possible for donors.
        </p>
      </div>
      <div class="col-lg-6 col-sm-12" style="text-align: center;">
        <img class="img-fluid" src="../assets/img/covidBloodDonor-1213554544-770x553-1-745x490.jpg"
          style="width: 500px; padding-top: 30px;">
      </div>
    </div>
    <hr>


    <div class="row mb-5" style="padding-top: 50px;">
      <div class="col-lg-6 col-sm-12" style="color: black; padding-top: 1px; text-align: center;">
        <img class="img-fluid" src="../assets/img/image2.jpg" style="width: 500px; height: 350px; padding-left: 30px;">
      </div>
      <div class="col-lg-6 col-sm-12" style="padding-top: 30px;">
        <h1 style=" font-weight: 700;">Donor Vision:</h1>
        <br>
        <p style="font-size: 1.125rem; ">I wish could tell you my donor how grateful am for
          your selfless act. You gave me new life. We may be coworkers or schoolmates or just two in the same
          community. I'm very grateful to you. Most of today's donors are old farts like me! We need a new
          crop of young folks to start donating because us "old guys" aren't going to live forever.
        </p>
      </div>
    </div>
    <hr>

  </div>


</div>