<div class="row" style="padding: 0px 150px; margin-top: 10%; margin-bottom: 10%;">
  <h1 style="margin-bottom: 50px;">Your Activity</h1>
  <div class="card-columns">
    <div class="card">
      <div class="card-body text-center bg-primary">
        <p class="card-text">Your blood donations</p>
      </div>
      <div class="card-footer text-muted">
        2 Times
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center bg-warning">
        <p class="card-text">Wheather you have taken blood</p>
      </div>
      <div class="card-footer text-muted">
        Not received
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center bg-success">
        <p class="card-text">List of purchased medicines</p>
      </div>
      <div class="card-footer text-muted">
        4 Medicines
      </div>
    </div>
  </div>
</div>


<!-- <div class="sidenav">
  <ul>
    <li><a href="home">Home</a></li>
    <li><a href="about">About</a></li>
    <li data-toggle="dropdown"><a href="services">Services</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Receiver</a>
        <a class="dropdown-item" href="#">Donor</a>
        <a class="dropdown-item" href="#">Camp</a>
      </div>
    </li>
    <li><a href="#">Clients</a></li>
    <li><a href="contact">Contact</a></li>
  </ul>
</div> -->

<router-outlet></router-outlet>