*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.blood{
    background-repeat: no-repeat;
    background-size: cover;
}

label{
    font-weight: 500;
    font-size: large;
}

a:hover {
    text-decoration: underline;
    color: #2691d9;
}