.nav a {
	width: 110px;
	text-align: center;
	color: black;

}

.nav a:hover {
	background-color: rgb(133, 143, 231);
	padding: 8px 0px;
	border-radius: 10px;
	color: white;
	text-decoration: none;
}

.card:hover {
	background-color: rgb(79, 90, 187);
	transition-delay: 0s;
	transition-duration: 1s;
	color: white;
}

.sticky-top {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
	background-color: white;
}

.card-body img {
	width: 100px;
}

.card-body {
	box-shadow: 0px 1px 3px 0px;
	height: 350px;
}

button {
	margin-top: 20px;
	padding: 10px 25px;
	border-radius: 25px;
}

hr {
	width: 100px;
	border-top: 2px solid rgb(66 69 183);
}