ol li a {
    cursor: pointer;
    color: blue;
}

.rec button {
    margin-top: 10px;
    width: 35%;
    height: 45px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 500
}

.rec button:hover {
    background: rgb(36, 36, 124);
    border: rgb(36, 36, 124);
    color: white;
}