<body class="row" style="margin-top: 50px;">


    <div id="demo" class="carousel slide" data-ride="carousel" style="width: 100%;">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class=""></li>
            <li data-target="#demo" data-slide-to="1" class=""></li>
            <li data-target="#demo" data-slide-to="2" class="active"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="../assets/img/Crousel3.jpeg" alt="E-Pharmacy" width="100%" height="500">
                <div class="carousel-caption">
                    <h3>Medicine+Helth+Beuty</h3>
                </div>
            </div>
            <div class="carousel-item active carousel-item-left">
                <img src="../assets/img/Crousel5.jpeg" alt="E-Pharmacy" width="100%" height="500">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item carousel-item-next carousel-item-left">
                <img src="../assets/img/Crousel6.jpeg" alt="E-Pharmacy" width="100%" height="500">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>


    <br>
    <div class="container d-flex mb-2 mt-5">
        <div class="title p-3">Categories</div>
    </div>


    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-sm-2">
                <div class="card text-center mb-3" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">Fitness</h5>
                        <img src="../assets/img/Fit.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-center mb-3" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">Diabeties</h5>
                        <img src="../assets/img/protinex.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-center mb-3" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">Healthcare</h5>
                        <img src="../assets/img/Helth.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-center mb-3" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">Skin Care</h5>
                        <img src="../assets/img/Skin.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-center mb-3" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">Elderly care</h5>
                        <img src="../assets/img/Elderly.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-center mb-3" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ayurvedic</h5>
                        <img src="../assets/img/Ayurvedic.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container d-flex justify-content-center mb-5">
        <div class="title p-3">Our Services</div>
    </div>
    <br>


    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-lg-6">
                <div class="card" style="width:250px">
                    <img class="card-img-top" src="../assets/img/Recomand.jpeg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">Doctor Recomanded Medicine</h5>
                        <p class="card-text">Here you order medicine by dr recomended</p>
                        <a href="doctor" class="btn btn-primary">Click Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" style="width:250px">
                    <img class="card-img-top" src="../assets/img/Medicine.jpeg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">Order Medicine By Search</h5>
                        <p class="card-text">Here You Order Your Medicine simply by Search</p>
                        <a href="ordermedicine" class="btn btn-primary">Click Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>


    <br>
    <div class="container tileContainer mt-5" style="height: 200px;">
        <div class="row">
            <div class="col-lg-5 p-4" style="height:200px; background-color: #e6ebf4;">
                <div class="col">
                    <p class="mx-auto font-weight-bold" style="width: 250px;">Order With Prescription</p>
                </div>
                <div class="col">
                    <p class="mx-auto" style="width: 250px;">Upload prescription and we will deliver your medicines
                    </p>
                </div>
                <div class="d-grid gap-2 col-lg-8 mx-auto" style="display: flex;
                background-color: #20ce20;
                height: 50px; border-radius: 5px; width: 60%;
                align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-upload" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                        <path d="M7 9l5 -5l5 5"></path>
                        <path d="M12 4l0 12"></path>
                    </svg>
                    <input type="file">
                </div>
            </div>
            <div class="col-lg-7" style="height:200px;">
                <div class="container p-4">
                    <div class="row row-cols-2">
                        <div class="col" style="height:80px;"><svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-number-1" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M13 20v-16l-5 5"></path>
                            </svg>Upload a photo of your prescription</div>
                        <div class="col" style="height:80px;"><svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-number-2" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 8a4 4 0 1 1 8 0c0 1.098 -.564 2.025 -1.159 2.815l-6.841 9.185h8"></path>
                            </svg>Add delivery address and place the order</div>
                        <div class="col" style="height:80px;"><svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-number-3" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 12a4 4 0 1 0 -4 -4"></path>
                                <path d="M8 16a4 4 0 1 0 4 -4"></path>
                            </svg>We will call you to confirm the medicines</div>
                        <div class="col" style="height:80px;"><svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-number-4" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M15 20v-15l-8 11h10"></path>
                            </svg>Now, sit back! your medicines will get delivered at your doorstep</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>


    <div class="container-fluid p-5 mt-4 mb-3">
        <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img src="../assets/img/Design.jpg" alt="Offer" width="1100" height="500">
                            </div>
                            <div class="carousel-item active">
                                <img src="../assets/img/Design1.jpg" alt="Offer" width="1100" height="500">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/img/Design2.jpg" alt="Offer" width="1100" height="500">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img src="../assets/img/Design3.jpg" alt="Offer" width="1100" height="500">
                            </div>
                            <div class="carousel-item active">
                                <img src="../assets/img/Design4.jpg" alt="Offer" width="1100" height="500">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/img/Design6.jpg" alt="Offer" width="1100" height="500">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img src="../assets/img/Design7.jpg" alt="Offer" width="1100" height="500">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/img/Design8.jpg" alt="Offer" width="1100" height="500">
                            </div>
                            <div class="carousel-item active">
                                <img src="../assets/img/Design.jpg" alt="Offer" width="1100" height="500">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active carousel-item-left">
                                <img src="../assets/img/Design4.jpg" alt="Offer" width="1100" height="500">
                            </div>
                            <div class="carousel-item carousel-item-next carousel-item-left">
                                <img src="../assets/img/Design6.jpg" alt="Offer" width="1100" height="500">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/img/Design2.jpg" alt="Offer" width="1100" height="500">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>


</body>